<%- include('layout') %> 

<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .input-large {
        width: 100%;
        padding: 10px;
        border: 1px solid #d1d5db;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
    }

    .error-message {
        color: red;
        font-size: 0.875rem;
        margin-top: 5px;
    }

    .signup-container-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f3f4f6;
        min-height: 100vh;
        width: 100%; /* Ensure it takes full width */
        padding: 10vh 0; /* Add padding for top/bottom spacing */
        margin-top: 20vh;
    }

    .signup-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: calc(100% - 40px); /* Allows responsiveness without specific screen adjustments */
    }

    .signup-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #374151;
        margin-bottom: 20px;
        text-align: center;
    }
</style>

<div class="signup-container-wrapper">
    <div class="signup-container">
        <h2 class="signup-title">Sign Up</h2>
        <% if (error && error.fieldError) { %>
            <p class="error-message"><%= error.fieldError %></p>
        <% } %>
        <form action="/users" method="POST" style="display: flex; flex-direction: column; gap: 15px;" onsubmit="return validateForm()">
            <div style="display: flex; flex-direction: column;">
                <label for="firstname" style="font-size: 0.875rem; font-weight: bold; color: #374151;">First Name</label>
                <input type="text" id="firstName" name="firstName" class="input-large">
                <% if (error && error.firstNameError) { %>
                    <p class="error-message"><%= error.firstNameError %></p>
                <% } %>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="secondname" style="font-size: 0.875rem; font-weight: bold; color: #374151;">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="input-large">
                <% if (error && error.lastNameError) { %>
                    <p class="error-message"><%= error.lastNameError %></p>
                <% } %>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="email" style="font-size: 0.875rem; font-weight: bold; color: #374151;">Email</label>
                <input type="text" id="email" name="email" class="input-large">
                <% if (error && error.emailError) { %>
                    <p class="error-message"><%= error.emailError %></p>
                <% } %>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="password" style="font-size: 0.875rem; font-weight: bold; color: #374151;">Password</label>
                <input type="password" id="password" name="password" class="input-large">
                <% if (error && error.passwordError) { %>
                    <p class="error-message"><%= error.passwordError %></p>
                <% } %>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="confirm_password" style="font-size: 0.875rem; font-weight: bold; color: #374151;">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" class="input-large">
                <% if (error && error.confirmPasswordError) { %>
                    <p class="error-message"><%= error.confirmPasswordError %></p>
                <% } %>
            </div>
            <button type="submit" style="background-color: #81c408; color: #ffffff; padding: 10px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">Sign Up</button>
        </form>
        <p style="text-align: center; margin-top: 25px;">Already have an account? <a href="/login">Login</a></p>
    </div>
</div>

<%- include('footer') %> 
</body>
</html>
